<div id='blog-post-<%= blog_post.id %>'>
    <div class='blog-post-name'>
        <%= blog_post.render_name %>
    </div>

    <% blog_post.text_blocks.each do |text_block| %>
        <%= render partial: '/text_blocks/text_block', locals: { text_block: text_block } %>
    <% end %>
</div>