<p id="notice"><%= notice %></p>

<p class='text-block-container'>
  <strong>Body:</strong>
  <%= render @text_block %>
</p>

<%= link_to 'Edit', edit_text_block_path(@text_block) %> |
<%= link_to 'Back', text_blocks_path %>
