// Place all the styles related to the TextBlocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.text-block {
    width: 100%;
}
.text-block-text-area {
    width: 100%;
    padding: 0px;
    resize: none;
    background-color: transparent;
}

.text-block-container {
    width: 50%;
}